.mainLoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  height: 100%;
  background-color: rgba(249, 250, 252, 0.925);
}




/* ********************************************************************** */

.rightside {
  padding: 1rem;
  border: 2px solid black;
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 35%;
  border-radius: 10px;
  background-color: white;
}

.Profileimg {
  margin: auto;
  width: 26%;
  margin-top: 2rem;
}

.Profileimg img {
  width: 5rem;
  border-radius: 5rem;
  /* border: 1px solid red; */
}

.radiobutton {
  width: 33%;
  font-size: 1.2rem;
  font-weight: bold;
}

.rightside > h1 {
  margin: 2rem;
}

.rightside input {
  display: block;
  width: 100%;
  background-color: rgba(211, 211, 222, 0.874);
  height: 3rem;
  font-size: 1.2rem;
  margin: 10px 0px;
  border-radius: 5px;
  border: 0.5px solid black;
  padding: 10px;
}

.rightside button {
  width: 100%;
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: rgb(27, 55, 241);
  border: none;
  margin-top: 1.5rem;
}

form h3 {
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .mainLoginPage {
    gap: 10rem;
    height: 100%;
  }

  .leftside {
    width: 45%;
  }
  .rightside {
    width: 40%;
  }
}

@media only screen and (max-width: 770px) {
  .mainLoginPage {
    gap: 0rem;
  }

  .leftside {
    display: none;
  }
  .rightside {
    width: 60%;
  }
}

@media only screen and (max-width: 550px) {
  .rightside {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .rightside {
    width: 95%;
  }
}
